@import bootstrap-sprockets
@import bootstrap
@import font-awesome


body
  font-family: 'Neue Helvetica W01', 'Helvetica Neue', 'Neue Helvetica 2'
  min-height: 75em

.intro
  text-align: center
  margin: 0 auto

  img
    display: block
    margin: 0 auto 20px

.lead
  color: #fff

.btn
  -webkit-box-shadow: none
  -moz-box-shadow: none
  box-shadow: none
  background-image: none
  border: 0
  border-radius: 2px

.btn-github
  background: none
  border: 2px solid #fff
  color: #fff
  margin-top: 10px

.btn-margin
  margin: 0 10px

.jumbotron
  padding-top: 8em
  padding-bottom: 12em
  margin-bottom: 0
  background-color: #E55A45

.jumbotron p:last-child
  margin-bottom: 0

.jumbotron-heading
  font-weight: 300

.jumbotron .container
  max-width: 60em

.thumbnail
  height: 280px
  padding: 30px 0
  border-color: #F0F0F0

.steps
  background-color: #f7f7f7
  min-height: 40em
  padding: 3em 0
  
  .steps-title
    text-align: center
    font-size: 25px
  .steps-wrapper
    padding-top: 6em
    padding-bottom: 2em


.card > img
  margin-bottom: .75em

.card-text
  font-size: 85%

footer
  padding-top: 2em
  padding-bottom: 2em

footer p
  margin-bottom: .25em
