@import bootstrap-sprockets
@import bootstrap
@import font-awesome
@import button

html
  position: relative
  min-height: 100%

body
  font-family: 'Montserrat',"Helvetica Neue",Helvetica,Arial,sans-serif
  font-size: 17px
  margin: 0 0 2em 0
  line-height: 1.6
  background: #F9F9F9
  color: #333

a
  color: #125688

.alert
  border-radius: 2px

.navbar
  padding: 15px 0
  height: 83px
  border-bottom: 1px solid #F0F0F0
  background: #fff

.page-wrapper
  margin-top: 120px

.avatar
  margin: 0 auto

.close-page
  font-size: 34px !important
  position: fixed
  top: 0px
  right: 15px
  color: #444
  opacity: 1
  font-weight: 200

input[type="search"],
input[type="text"],
input[type="password"]
  display: block
  height: 40px
  width: 100%
  padding: 0
  border-radius: 2px
  outline: none
  box-sizing: border-box
  -webkit-appearance: none
  font-size: 16px
  text-indent: 10px
  font-weight: 400
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  vertical-align: bottom
  position: relative

input[type="search"]:focus,
input[type="text"]:focus,
input[type="password"]:focus
  border-color: #CACACA

.panel
  box-shadow: none
  border-radius: 0
  border: 1px solid #edeeee

  .description
    margin-top: 15px
    text-align: justify
    font-size: 15px

.panel-default
  .panel-heading
    border-bottom: 1px solid #f0f0f0
    background: #fff

@media screen and (min-width: 480px)
  .container
    max-width: 700px
